
/* idk how i can do it better */
.StyledMeter-nsxarx-0 {
    min-width: 32px !important;
}

.info span, .network a {
    width: 70%;
    overflow-wrap: break-word;
}

@media (prefers-reduced-motion: no-preference) {
    .home-title  {
        /*animation: ;*/
        animation: App-title-float infinite 3s ease-in-out;
    }    
}

.home-menu li {
    display: inline;
    border: none;
}

.home-menu-small li {
    border: none;
}

h4 {
  max-width: fit-content !important;
}

.translate {
  position: fixed ;
}

.translate button {
  border: none;
  border-radius: 2px;
  background-color: #B2BABB;
}

.translate button:hover {
  border: none;
  background-color: #A6ACAF;
  color: white;
}

.translate button:focus {
  box-shadow: none;
}

/* animations */

@keyframes App-title-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px)
  }
  100% {
    transform: translateY(0px)
  }
}